* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    align-items: center;
}


/* navbar */

.navbar {
    background-color: rgb(193, 211, 163);
    width: 100%;
    height: auto;
    margin-top: 5px;
    margin-bottom: 5px;
}

.navbar a:hover {
    background-color: rgb(142, 246, 253);
    padding: 3px;
    border: black solid 1px;
}

a {
    color: darkslategrey;
    text-decoration: none;
}

.navbar-boton {
    display: flex;
    /*justify-content: space-around;*/
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 50px;
    justify-content: space-around;
}

.contenedor {
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
    flex-flow: row wrap;
}

.fondo {
    background-image: url(.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}


/* tipografias */

h1 {
    font-family: fantasy;
    font-size: 50px;
    color: rgb(11, 80, 80);
    font-style: oblique;
    margin: 10px;
}

h2 {
    font-size: 50px;
    color: rgb(34, 99, 219);
    font-family: fantasy;
    text-align: center;
}

h3 {
    font-family: fantasy;
    color: teal;
    font-style: oblique;
    margin: 10px;
    font-size: 30px;
    font-weight: bold;
}

p {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: black;
    font-style: normal;
    margin: 10px;
    font-size: 20px;
}

.imagenes {
    padding: 5%;
    max-width: 100%;
    height: auto;
    border-radius: 15%;
}

footer {
    text-align: center;
    font-size: 10px;
    font-style: italic;
}