body{
    background-color: #2c3e50;
}
*{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
footer{
    text-align: center;
    background-color: #34495e;
    height: 40px;
    margin:0;
}
header{
    text-align: center;
}
img{
    margin-top: 20px;
    height: 200px;
}
input{
    padding: 7px;
    color: black;
}
.logoutButton{
    text-align: right;
}
.content{
    display: flex;
    text-align: center;
}
.showButton{
    display: none;
}
.titulo{
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
}

nav{
    background-color: #34495e;
    height: 50px;
    display:flex;
    justify-content: space-evenly;
}
.container{
    font-size: 50px;
}

li{
    list-style-type: none;
    font-size: 19px;
    margin-top: 15px;
}
a{
    text-decoration:none;
}
nav a {
    text-decoration: none;
    text-transform: uppercase;
    color: white;
}
nav a:hover, a:hover{

    color:#1abc9c;
}
h1{
    font-size: 30px;
}
div, ul{
    margin-top: 20px;
    text-align: center;
    padding: 0;
}

.buttons{
    text-decoration: none;
}

.titleGames{
    font-size: 25px;
    text-transform: uppercase;
}
.form{
align-items: center;
}
.box{
    margin-top: 60px;
    text-align: center;

}
.box h1{
    color: white;
    text-transform: uppercase;
    font-weight: 500;
}
.box input:focus{
    width: 280px;
    border-color: #2ecc71;
}
.box input, form button{
    background: none;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #3498db;
    border-radius: 24px;
    padding:14px 30px;
    width: 200px;
    outline: none;
    color: white;
    transition: 0.25s;  
}
button{
    cursor: pointer;
    margin-top: 20px;
}
select, option, textarea{
    color: black;
}
